# Historical Olymics data 
This project aims to analyize the data provided by RGRIFFIN on Kaggel ["120 years of Olympic history: athletes and results"](https://www.kaggle.com/datasets/heesoo37/120-years-of-olympic-history-athletes-and-results)and make intresting observations

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('./data/athlete_events.csv', index_col="ID")
regions_df = pd.read_csv('./data/noc_regions.csv', index_col="NOC")

In [9]:
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [10]:
df.shape

(271116, 14)

Looking at the data, I see there are a couple of missing entries such as `hight`, `weight` and `medal`. I need to find a way to address that. but for now looking at the data, I want to see a couple of things
- Gender breakdown 
    - The number of female and male participants in total
    - and per year
    - per country
    - per medal
- Country breakdown
    - number of participants in total
    - collected medals
    - games partecepated in comparison to total games
    - sports participates
    - years participated
- age breakdown
    - correlation between age and medal
    - age and sport 
    - age and sex
    - min, max, and avergae ages
- continent summary
    - [Europe, Asia, Africa, americas, oceana]
    - total participants
    - total medals
        - medal breakdown [gold, silver, bronze]
- Athelete breakdown
    - total participations
    - medals collected
    
This is what I can think of at the moment, but maybe with more tests, I'd get a new question popping up

## Geneder Breakdown 
I'll start by exploring the geneder breakdown and see any intresting observations

In [12]:
gender_group = df.groupby('Sex')
gender_group.count()

,Name,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
Sex,,,,,,,,,,,,,
F,74522,74098,67378,66771,74522,74522,74522,74522,74522,74522,74522,74522,11253
M,196594,187544,143567,141470,196594,196594,196594,196594,196594,196594,196594,196594,28530

So I question the results because what if an athleat participated more that once, then the count isn't really accurate so I wonder if I can just count the `name` column and make sure just to count distict values. Looking online, I see that there is a method [`nunique()`](https://stackoverflow.com/questions/15411158/pandas-countdistinct-equivalent) that might help so let's test that out

In [15]:
gender_group['Name'].nunique()

Sex
F     33808
M    100979
Name: Name, dtype: int64

In [16]:
df['Year'].nunique()

35

In [17]:
df['Year']

ID
1         1992
2         2012
3         1920
4         1900
5         1988
          ...
135569    1976
135570    2014
135570    2014
135571    1998
135571    2002
Name: Year, Length: 271116, dtype: int64