## Agreggate and Grouping Data - Analyzing and Exploring Data
It's time to get to the neaty and grity of pandas that helps in analyzing data. but before that as always, we'll start off by adding the Stack overflow data to use for later.

__Note__ this is based on a [series of tutorials](https://www.youtube.com/watch?v=txMdrV1Ut64&list=PL-osiE80TeTsWmV9i9c58mdDCSskIFdDS&index=8&ab_channel=CoreySchafer) on Youtube from Corey Schafer

In [5]:
import pandas as pd

In [6]:
# loading the data
df = pd.read_csv('./data/survey_results_public.csv', index_col='ResponseId')
schema_df = pd.read_csv('./data/survey_results_schema.csv', index_col='qname')

In [3]:
# adjuting max column and row view
pd.set_option('display.max_columns', 79)
pd.set_option('display.max_rows', 79)

In [4]:
# check out last 5 rows
df.tail()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I donâ€™t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

So to be honest, I don't know what grouping and aggregating data is so hopfully this sheds teh light on it, especially since it's all about analyzing data

This is where we get statistics into our data, for example, we might want to know what the average salary of a developer is. Or maybe, you want to know how many people from each country know python or another programing language. So what we'll about to lern will help us in answering these questions.

So we'll start off slow and slowly build up

### Aggregating Data
What aggregate means is that we'll be combining multiple peices of data into a single result. For example, if you've ever used `mean`, `median` or `mode` in mathamatics, these are aggregate functions, because they take multiple values and give you either the mean, median or mode of those results. 

So to put that in practice one way we can analyze this data is by asking 'What is the average salary of a deeloper?' to give us an idea of the job market. To answer that, we need to grab the `median` value of the salay. 

We can start off by looking at the salaries column which in this case is the `CompTotal` column

__Note__: the survy results doesn't have a total converted compensation because aparently it's different currencies and also the `yearly` and `monthly` is all over the data so it's not a good representation of the data. I'll move on with the tutorial with the asumption it's all a single curency and is yearly. Wait I just discovered the `ConvertedCompYearly` in my dataset, this might help in making the info more accuratly.

In [9]:
df['ConvertedCompYearly'].head(15)

ResponseId
1          NaN
2          NaN
3      40205.0
4     215232.0
5          NaN
6          NaN
7          NaN
8          NaN
9      49056.0
10         NaN
11     60307.0
12    194400.0
13     65000.0
14         NaN
15    110000.0
Name: ConvertedCompYearly, dtype: float64

We can see the median value of this survey just by running the `median` method on this series. So instead of running the head, we can run the `median` on the series as follows

In [10]:
df['ConvertedCompYearly'].median()

67845.0

Now okay we do get an adea of the avergae salaries but it's not the complete picture, so for example differnt contries compensate differently due to the cost of living so it would be a good idea to see the avergae of each country and we can do that using groupping. However, befor emoving to grouping, let's explore a couple of differnt concepts first.

One thing we want to explore is running this aggregate function (`median` in this case) on the entire dataframe not just the series and see what we get

In [7]:
df.median()

/var/folders/bj/d9h8xv_952g0p269w8spf_tm0000gn/T/ipykernel_15065/530051474.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

CompTotal                    77500.0
VCHostingPersonal use            NaN
VCHostingProfessional use        NaN
WorkExp                          8.0
ConvertedCompYearly          67845.0
dtype: float64

So what it did is grab numberical columns and performed the aggregate method on so we can see a result of the avergae of the numerical data such as `work experience` and more

Now if we want a board overview of teh data, a statistical one to be specific, we'd use the `describe` method on our dataframe instead. It will give us a broad overview of the converted stats

In [11]:
df.describe()

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

__Note__ The reason we chose to look at the `median` value for salaries instead of the `mean` and that's because the mean is heavily affected by outliers. It's not a good metric to use because a few outliers affects teh average very heavily. SO a better indicator would be `median`

Now if we want to get this on a single column, what we do it run the `describe` method on that series

We might wonder what the `count` row is, it basically counts the non-missing rows. In the context of this survy a missing row means that the respondent didn't answer that question so if we run `count` on the converted comp columns

In [12]:
df['ConvertedCompYearly'].count()

38071

we see that around 38,000 people answered that question

In [20]:
df.shape

(73268, 78)

So it's less that half who ansered that question. 

__Note__ some people make the false assumption of thinking that `count` counts the individual values in a specific row, but that's not the case. it counts the number of non-missing values. Now if what you want to do is count the number of values, then that's what we use `value_counts` method for. Let's look at an example to clarify 

Let's take a look at the column `TBranch` and see the values and then see how many poeple answered `yes` and how many answered `no`

In [21]:
df['TBranch']

ResponseId
1        NaN
2         No
3         No
4         No
5         No
        ...
73264    Yes
73265    Yes
73266    Yes
73267     No
73268    NaN
Name: TBranch, Length: 73268, dtype: object

In [22]:
df['TBranch'].value_counts()

Yes    37200
No     15470
Name: TBranch, dtype: int64

This really gives us an idea of peoples answers and help us understand a couple of things. So lets say we want to look at what social media platform is being used by the users (say we're app developers who aim to build an app) to see what people gravitate towards we can use `value_counts` on that series 

__Note__ I don't have social media in my dataset so I'll just use `Gender`

In [25]:
df['Gender']

ResponseId
1        NaN
2        NaN
3        Man
4        Man
5        NaN
        ...
73264    Man
73265    Man
73266    Man
73267    Man
73268    Man
Name: Gender, Length: 73268, dtype: object

We can access the question about the columns to know more about it using the `.loc` indexer

In [28]:
schema_df.loc['Gender', 'question']

'Which of the following describe you, if any? Please check all that apply.'

Now let's see which is the promenet answer by running `value_counts` on the series

In [30]:
df['Gender'].value_counts()

Man                                                                                   64607
Woman                                                                                  3399
Prefer not to say                                                                      1172
Non-binary, genderqueer, or gender non-conforming                                       704
Or, in your own words:                                                                  279
Man;Non-binary, genderqueer, or gender non-conforming                                   235
Man;Or, in your own words:                                                              171
Woman;Non-binary, genderqueer, or gender non-conforming                                 160
Man;Woman;Non-binary, genderqueer, or gender non-conforming                              31
Man;Woman                                                                                24
Man;Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming       18
Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming           15
Or, in your own words:;Non-binary, genderqueer, or gender non-conforming                 14
Or, in your own words:;Woman                                                             13
Man;Or, in your own words:;Non-binary, genderqueer, or gender non-conforming              9
Man;Or, in your own words:;Woman                                                          2
Name: Gender, dtype: int64

Okay... that's a bit confusing

Regardless, now if we want to see a percentage instead of count number, we can do so by passing in the `normalize` argument and setting it to `True`

In [31]:
df['Gender'].value_counts(normalize=True)

Man                                                                                   0.911846
Woman                                                                                 0.047973
Prefer not to say                                                                     0.016541
Non-binary, genderqueer, or gender non-conforming                                     0.009936
Or, in your own words:                                                                0.003938
Man;Non-binary, genderqueer, or gender non-conforming                                 0.003317
Man;Or, in your own words:                                                            0.002413
Woman;Non-binary, genderqueer, or gender non-conforming                               0.002258
Man;Woman;Non-binary, genderqueer, or gender non-conforming                           0.000438
Man;Woman                                                                             0.000339
Man;Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming    0.000254
Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming        0.000212
Or, in your own words:;Non-binary, genderqueer, or gender non-conforming              0.000198
Or, in your own words:;Woman                                                          0.000183
Man;Or, in your own words:;Non-binary, genderqueer, or gender non-conforming          0.000127
Man;Or, in your own words:;Woman                                                      0.000028
Name: Gender, dtype: float64

In the social media example in the lesson, it looked like the results are regional so baased on where your from the social media you use is differnet. So what if we used the same idea here and see if the answers to gender is regional as well based on country. So what's the breakdown based on country.

To do that, we need to learn about grouping our data.

### Grouping Data
Now this topic might be a little confusing, but we'll start slow to get to understand the basics and slowly build up. So firstly, if we want to see results based on `country` or a specific column, then we have to group on that specific column. We can do that with teh `groupby` method. 

Now what does it mean when we say, we're going to group by using the `groupby` function? When we look at the [panda docs](https://pandas.pydata.org/docs/user_guide/groupby.html) it says that the operation includes some kind of combination of 
1. splittling the object
1. applying a function
1. combining the rsults

So we'll walk through each of the processes one at a time so we can see exactly how does that work.
First just for refrence, let's display the values count for each country so that we can see the country that has teh most results for this particular survey

In [32]:
df['Country'].value_counts()

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

Now let's see how to use the `groupby` method on the country column. NOe remember first we will
1. split the object
1. apply the function
1. combine the results

#### Splitting object
first we'll look at slitting the object, and in this case we want to group all the results by country. To do this we simply do the following

In [33]:
df.groupby(['Country'])

When running this we see that what we get back is a dataframe group by object `DataFrameGroupBy`, Now what is this object, and what can we do with it?

So this object containes a bunch of groups and to better understand what it is, let's take a look at an individual group that this datframe has. Lets set the `groupby` we just did into a variable so we don't have to constantly type it.

In [34]:
country_grp = df.groupby(['Country'])

Since it grouped by country, then we can access a specific group my country name. So let's grab the group associated with the US, and to do that we need to use the `.get_group` method and passing the name of the group and in this case it's the `United States of America`

In [37]:
country_grp.get_group('Saudi Arabia')

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
222,I am a developer by profession,"Employed, full-time",Fully remote,Contribute to open-source projects,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,18,11,"Developer, back-end",500 to 999 employees,I have some influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,50000.0,Monthly,Erlang;Go;Java;JavaScript;Python;SQL,Go;Java;SQL,Couchbase;Microsoft SQL Server;MySQL;Oracle;Po...,Couchbase,AWS;Google Cloud,AWS;Google Cloud;Microsoft Azure,Angular.js,NaN,NaN,NaN,Docker;Kubernetes,Docker,GoLand;IntelliJ;Sublime Text;Visual Studio Code,GoLand;IntelliJ;Sublime Text;Visual Studio Code,macOS,macOS,Git,Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",35-44 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,160008.0
4295,I am a developer by profession,"Employed, full-time",Full in-person,Hobby;Contribute to open-source projects;Freel...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Coursera;Udemy;edX;Udacity,10,6,Data scientist or machine learning specialist;...,10 to 19 employees,I have some influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,6000.0,Monthly,C#;C++;Dart;HTML/CSS;Java;JavaScript;Kotlin;MA...,Dart;HTML/CSS;JavaScript;Kotlin;PHP;Python;SQL...,Couchbase;CouchDB;MariaDB;Microsoft SQL Server...,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,AWS;Firebase;Google Cloud;Microsoft Azure,Firebase;Microsoft Azure,Angular;Angular.js;ASP.NET;ASP.NET Core ;Blazo...,ASP.NET Core ;Express;Laravel;Svelte,Cordova;Flutter;Ionic;NumPy;Pandas;React Nativ...,Flutter;NumPy;Pandas;Scikit-learn;TensorFlow,Docker;npm;Unity 3D;Yarn,npm;Unity 3D,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,Android Studio;IPython/Jupyter;Visual Studio;V...,macOS;Windows,Linux-based;macOS;Windows,Git;SVN,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Planner;Stack Overflow for Teams;Swit,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Zoom,Indifferent,I have never visited Stack Overflow or the Sta...,NaN,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,White;Middle Eastern;Asian;East Asian;Central ...,None of the above,None of the above,Yes,Independent contributor,11.0,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Never,3-5 times a week,Never,Less than 15 minutes a day,Less than 15 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,19200.0
4557,I am a developer by profession,"Employed, full-time",Full in-person,Freelance/contract work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Online Courses or Certific...,NaN,Udemy,14,8,"Developer, full-stack;Developer, mobile",100 to 499 employees,I have some influence,Start a free trial,Saudi Arabia,SAR\tSaudi Arabian riyal,11000.0,Monthly,C#;Java;Kotlin;Swift,Java;Kotlin;Swift,MySQL;Firebase Realtime Database;SQLite,MySQL;Oracle;Firebase Realtime Database;SQLite,NaN,NaN,NaN,NaN,NaN,NaN,Docker,Docker,Android Studio;IntelliJ;Xcode,Android Studio;IntelliJ;PyCharm;Sublime Text;V...,macOS,macOS,Git,Code editor,NaN,NaN,NaN,NaN,Google Chat;Slack;Zoom,Google Chat;Slack,Unsure,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",35-44 years old,Man,No,Prefer not to say,Asian,None of the above,None of the above,Yes,Independent contributor,8.0,Agree,Agree,Agree,Strongly agree,Neither agree nor disagree,Agree,Disagree,Never,Never,Never,30-60 minutes a day,15-30 minutes a day,Somewhat long,Microservices,No,Yes,Yes,Too long,Easy,35208.0
5550,I am a developer by profession,"Employed, full-time;Independent contractor, fr...","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;Pluralsight;edX,15,6,"Developer, front-end;Engineer, data;Engineer, ...","1,000 to 4,999 employees",I have a great deal of influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,24000.0,Monthly,HTML/CSS;JavaScript;TypeScript,JavaScript;TypeScript,Cassandra;Elasticsearch;MySQL;PostgreSQL;Redis...,Cassandra;Elasticsearch;PostgreSQL;Redis;SQLite,AWS;DigitalOcean;Google Cloud;Microsoft Azure;...,AWS;Google Cloud;Microsoft Azure;OpenStack,Angular;Angular.js;Next.js;Node.js;React.js,Next.js;Node.js;React.js,Apache Kafka;Keras;NumPy;React Native;Scikit-l...,Apache Kafka;Apache Spark;Keras;NumPy;React Na...,Ansible;Docker;npm;Terraform;Yarn,Docker;Kubernetes;npm;Pulumi;Terraform;Yarn,Android Studio;IntelliJ;Nano;Sublime Text;Vim;...,Android Studio;IntelliJ;Nano;Sublime Text;Vim;...,Linux-based;macOS;Windows Subsystem for Linux ...,macOS,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,monday.com;Notion,Notion,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack,Favorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",Yes,People manager,7.0,Agree,Agree,Neither agree nor disagree,Agree,Agree,Agree,Strongly agree,10+ times a week,1-2 times a week,1-2 times a week,30-60 minutes a day,Less than 15 minutes a day,Very long,Innersource initiative;DevOps function;Continu...,Yes,Yes,Yes,Too long,Neither easy nor difficult,76800.0
6075,I am a developer by profession,"Employed, full-time",Full in-person,Contribute to open-source projects;Freelance/c...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,20,13,"Developer, full-stack;Engineering manager;Othe...",100 to 499 employees,I have some influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,NaN,Monthly,Java;JavaScript;SQL;TypeScript,Java;Kotlin;TypeScript,MongoDB;PostgreSQL;Redis,MongoDB;Redis,AWS;Microsoft Azure;Oracle Cloud Infrastructure,NaN,Angular,Angular,Spring,Flutter;Spring,Docker;npm,npm,Eclipse;Notepad++;Visual Studio Code,Eclipse;Notepad++;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Dedicated version control GUI application,NaN,NaN,Smartsheet,NaN,Microsoft Teams;Zoom,Microsoft Teams,Unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",35-44 years old,Man,No,NaN,"Or, in your own words:",None of the above,None of the above,Yes,People manager,14.0,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,Neither agree nor disagree,Neither agree nor disagree,1-2 times a week,6-10 times a week,Never,15-30 minutes a day,60-120 minutes a day,Very long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69460,I code primarily as a hobby,"Employed, full-time",Full in-person,Hobby,"Professional degree (JD, MD, etc.)",Books / Physical media,NaN,NaN,24,NaN,Other (please specify):,NaN,NaN,Start a free trial;Visit developer communities...,Saudi Arabia,NaN,NaN,NaN,C;C++;Go;Objective-C;Rust,C;C++;Objective-C,SQLite,SQLite,Microsoft Azure,NaN,Node.js;React.js,NaN,.NET;GTK;Qt,Qt,Docker;Homebrew;npm,Docker;Unreal Engine,Android Studio;Qt Creator;Sublime Text;Visual ...,Visual Studio;Visual Studio Code;Xcode,NaN,Windows Subsystem for Linux (WSL),Git,Code editor;Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
69611,"I used to be a developer by profession, but no...",NaN,NaN,NaN,"Professional degree (JD, MD, etc.)",NaN,NaN,NaN,3,3,NaN,NaN,NaN,NaN,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.NET;Apache Kafka;Apache Spark;Capacitor;Cordo...,.NET;Apache Kafka;Apache Spark;Capacitor;Cordo...,NaN,NaN,Android Studio;Atom;GoLand,Android Studio;Atom;CLion;GoLand,BSD;Linux-based;macOS;Windows;Windows Subsyste...,BSD;Linux-based;macOS;Windows;Windows Subsyste...,Git;Other (please specify):;Mercurial;SVN,Code editor;Command-line;Version control hosti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Under 18 years old,"Man;Or, in your own words:;Woman;Non-binary, g...",Yes,NaN,"Or, in your own words:","Or, in your own words:",None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
71019,I am a developer by profession,"Employed, full-time",Full in-person,Other (please specify):,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Online books;Vid...,Udemy;Codecademy;Pluralsight,6,2,"Developer, full-stack;Developer, back-end",10 to 19 employees,I have little or no influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,7000.0,Monthly,C#;HTML/CSS;PHP;SQL,C#;Dart;HTML/CSS;SQL;TypeScript,Microsoft SQL Server;MySQL,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core ;React.js,Angular;Angular.js;ASP.NET;ASP.NET Core ;Blazor,.NET,.NET;Flutter,npm,Docker;npm,Atom;Sublime Text;Visual Studio;Visual Studio ...,Android Studio;Visual Studio;Visual Studio Code,Linux-based;macOS;Windows,Windows,Git;Other (please specify):,Command-line;Version control hosting service w...,NaN,NaN,NaN,NaN,Cisco Webex Teams;Microsoft Teams;Zoom,Cisco Webex Teams;Microsoft Teams,Unfavorable,Stack Overflow,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,Not sure,25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,2.0,Neither agree nor disagree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,Never,Over 120 minutes a day,30-60 minutes a day,Somewhat long,Developer portal or other central places to fi...,No,No,Yes,Appropriate in length,Neither easy nor difficult,22404.0
71356,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Contribute to open-source projects;Freelance/c...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,17,2,"Developer, back-end",500 to 999 employees,I have some influence,Start a free trial;Ask developers I know/work ...,Saudi Arabia,SAR\tSaudi Arabian riyal,21850.0,NaN,HTML/CSS;Python,HTML/CSS;Python;Rust,PostgreSQL;Redis,PostgreSQL;Redis;SQLite,AWS;Heroku;Managed Hosting,AWS;DigitalOcean;Heroku;Managed Hosting,Django;FastAPI,Django;FastAPI,Pandas,Pandas,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,PyCharm;Visual Studio Code;Webstorm,PyCharm;Visual Studio Code;Webstorm,macOS,macOS,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Airtable;Confluence;Jira Work Management;Notion,Confluence;Jira Work Management;Notion,Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,NaN,I have a concentration and/or memory disorder ...,Yes,Independent contributor,2.0,Strongly agree,Strongly disagree,Strongly agree,Strongly agree,Agree,Neither agree nor disagree,Agree,3-5 times a week,6-10 times a week,1-2 times a week,60-120 minutes a day,15-30 minutes a day,Just right,Innersource initiative;DevOps function;Continu...,Yes,No,No,Appropriate in length,Easy,NaN
72313,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Colleague,NaN,NaN,12,9,"Developer, full-stack;Engineering manager;Desi...",500 to 999 employees,I have some influence,Start a free trial;Read ratings or reviews on ...,Saudi Arabia,SAR\tSaudi Arabian riyal,32000.0,Monthly,C#;HTML/CSS;Java;JavaScript;Python;SQL,JavaScript;Python,Microsoft SQL Server;Oracle,Elasticsearch;Redis,Microsoft Azure,AWS,Angular;ASP.NET Core ;Express;Flask;Node.js;Re...,Express;Node.js;React.js,.NET,Apache Kafka;Apache Spark;Hadoop;React Native,Docker;npm,Docker;Kubernetes;npm,Atom;Notepad++;Visual Studio;Visual Studio Code,Atom;Visual Studio Code,Linux-based;Windows,macOS,Git,Command-line,NaN,NaN,Microsoft Planner;Trello,NaN,Microsoft Teams;Slack,Microsoft Teams;Slack,Unsure,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Woman,No,Straight / Heterosexual,Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,102408.0

__Note__ that this is similar to running filter on our datafame (just as we did a few lessons ago) let's see how we'd do it with a filter

In [39]:
filt = df['Country'] == 'Saudi Arabia'
df.loc[filt]

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
222,I am a developer by profession,"Employed, full-time",Fully remote,Contribute to open-source projects,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,18,11,"Developer, back-end",500 to 999 employees,I have some influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,50000.0,Monthly,Erlang;Go;Java;JavaScript;Python;SQL,Go;Java;SQL,Couchbase;Microsoft SQL Server;MySQL;Oracle;Po...,Couchbase,AWS;Google Cloud,AWS;Google Cloud;Microsoft Azure,Angular.js,NaN,NaN,NaN,Docker;Kubernetes,Docker,GoLand;IntelliJ;Sublime Text;Visual Studio Code,GoLand;IntelliJ;Sublime Text;Visual Studio Code,macOS,macOS,Git,Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"Yes, somewhat",35-44 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,160008.0
4295,I am a developer by profession,"Employed, full-time",Full in-person,Hobby;Contribute to open-source projects;Freel...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Coursera;Udemy;edX;Udacity,10,6,Data scientist or machine learning specialist;...,10 to 19 employees,I have some influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,6000.0,Monthly,C#;C++;Dart;HTML/CSS;Java;JavaScript;Kotlin;MA...,Dart;HTML/CSS;JavaScript;Kotlin;PHP;Python;SQL...,Couchbase;CouchDB;MariaDB;Microsoft SQL Server...,MariaDB;Microsoft SQL Server;MongoDB;MySQL;Pos...,AWS;Firebase;Google Cloud;Microsoft Azure,Firebase;Microsoft Azure,Angular;Angular.js;ASP.NET;ASP.NET Core ;Blazo...,ASP.NET Core ;Express;Laravel;Svelte,Cordova;Flutter;Ionic;NumPy;Pandas;React Nativ...,Flutter;NumPy;Pandas;Scikit-learn;TensorFlow,Docker;npm;Unity 3D;Yarn,npm;Unity 3D,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,Android Studio;IPython/Jupyter;Visual Studio;V...,macOS;Windows,Linux-based;macOS;Windows,Git;SVN,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Planner;Stack Overflow for Teams;Swit,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Zoom,Indifferent,I have never visited Stack Overflow or the Sta...,NaN,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,White;Middle Eastern;Asian;East Asian;Central ...,None of the above,None of the above,Yes,Independent contributor,11.0,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Never,3-5 times a week,Never,Less than 15 minutes a day,Less than 15 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,19200.0
4557,I am a developer by profession,"Employed, full-time",Full in-person,Freelance/contract work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Online Courses or Certific...,NaN,Udemy,14,8,"Developer, full-stack;Developer, mobile",100 to 499 employees,I have some influence,Start a free trial,Saudi Arabia,SAR\tSaudi Arabian riyal,11000.0,Monthly,C#;Java;Kotlin;Swift,Java;Kotlin;Swift,MySQL;Firebase Realtime Database;SQLite,MySQL;Oracle;Firebase Realtime Database;SQLite,NaN,NaN,NaN,NaN,NaN,NaN,Docker,Docker,Android Studio;IntelliJ;Xcode,Android Studio;IntelliJ;PyCharm;Sublime Text;V...,macOS,macOS,Git,Code editor,NaN,NaN,NaN,NaN,Google Chat;Slack;Zoom,Google Chat;Slack,Unsure,Stack Overflow;Stack Exchange,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",35-44 years old,Man,No,Prefer not to say,Asian,None of the above,None of the above,Yes,Independent contributor,8.0,Agree,Agree,Agree,Strongly agree,Neither agree nor disagree,Agree,Disagree,Never,Never,Never,30-60 minutes a day,15-30 minutes a day,Somewhat long,Microservices,No,Yes,Yes,Too long,Easy,35208.0
5550,I am a developer by profession,"Employed, full-time;Independent contractor, fr...","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;Pluralsight;edX,15,6,"Developer, front-end;Engineer, data;Engineer, ...","1,000 to 4,999 employees",I have a great deal of influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,24000.0,Monthly,HTML/CSS;JavaScript;TypeScript,JavaScript;TypeScript,Cassandra;Elasticsearch;MySQL;PostgreSQL;Redis...,Cassandra;Elasticsearch;PostgreSQL;Redis;SQLite,AWS;DigitalOcean;Google Cloud;Microsoft Azure;...,AWS;Google Cloud;Microsoft Azure;OpenStack,Angular;Angular.js;Next.js;Node.js;React.js,Next.js;Node.js;React.js,Apache Kafka;Keras;NumPy;React Native;Scikit-l...,Apache Kafka;Apache Spark;Keras;NumPy;React Na...,Ansible;Docker;npm;Terraform;Yarn,Docker;Kubernetes;npm;Pulumi;Terraform;Yarn,Android Studio;IntelliJ;Nano;Sublime Text;Vim;...,Android Studio;IntelliJ;Nano;Sublime Text;Vim;...,Linux-based;macOS;Windows Subsystem for Linux ...,macOS,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,monday.com;Notion,Notion,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack,Favorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",Yes,People manager,7.0,Agree,Agree,Neither agree nor disagree,Agree,Agree,Agree,Strongly agree,10+ times a week,1-2 times a week,1-2 times a week,30-60 minutes a day,Less than 15 minutes a day,Very long,Innersource initiative;DevOps function;Continu...,Yes,Yes,Yes,Too long,Neither easy nor difficult,76800.0
6075,I am a developer by profession,"Employed, full-time",Full in-person,Contribute to open-source projects;Freelance/c...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,20,13,"Developer, full-stack;Engineering manager;Othe...",100 to 499 employees,I have some influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,NaN,Monthly,Java;JavaScript;SQL;TypeScript,Java;Kotlin;TypeScript,MongoDB;PostgreSQL;Redis,MongoDB;Redis,AWS;Microsoft Azure;Oracle Cloud Infrastructure,NaN,Angular,Angular,Spring,Flutter;Spring,Docker;npm,npm,Eclipse;Notepad++;Visual Studio Code,Eclipse;Notepad++;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Dedicated version control GUI application,NaN,NaN,Smartsheet,NaN,Microsoft Teams;Zoom,Microsoft Teams,Unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",35-44 years old,Man,No,NaN,"Or, in your own words:",None of the above,None of the above,Yes,People manager,14.0,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,Neither agree nor disagree,Neither agree nor disagree,1-2 times a week,6-10 times a week,Never,15-30 minutes a day,60-120 minutes a day,Very long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69460,I code primarily as a hobby,"Employed, full-time",Full in-person,Hobby,"Professional degree (JD, MD, etc.)",Books / Physical media,NaN,NaN,24,NaN,Other (please specify):,NaN,NaN,Start a free trial;Visit developer communities...,Saudi Arabia,NaN,NaN,NaN,C;C++;Go;Objective-C;Rust,C;C++;Objective-C,SQLite,SQLite,Microsoft Azure,NaN,Node.js;React.js,NaN,.NET;GTK;Qt,Qt,Docker;Homebrew;npm,Docker;Unreal Engine,Android Studio;Qt Creator;Sublime Text;Visual ...,Visual Studio;Visual Studio Code;Xcode,NaN,Windows Subsystem for Linux (WSL),Git,Code editor;Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"No, not really",35-44 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
69611,"I used to be a developer by profession, but no...",NaN,NaN,NaN,"Professional degree (JD, MD, etc.)",NaN,NaN,NaN,3,3,NaN,NaN,NaN,NaN,Saudi Arabia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.NET;Apache Kafka;Apache Spark;Capacitor;Cordo...,.NET;Apache Kafka;Apache Spark;Capacitor;Cordo...,NaN,NaN,Android Studio;Atom;GoLand,Android Studio;Atom;CLion;GoLand,BSD;Linux-based;macOS;Windows;Windows Subsyste...,BSD;Linux-based;macOS;Windows;Windows Subsyste...,Git;Other (please specify):;Mercurial;SVN,Code editor;Command-line;Version control hosti...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,NaN,NaN,Under 18 years old,"Man;Or, in your own words:;Woman;Non-binary, g...",Yes,NaN,"Or, in your own words:","Or, in your own words:",None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
71019,I am a developer by profession,"Employed, full-time",Full in-person,Other (please specify):,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Online books;Vid...,Udemy;Codecademy;Pluralsight,6,2,"Developer, full-stack;Developer, back-end",10 to 19 employees,I have little or no influence,Start a free trial;Visit developer communities...,Saudi Arabia,SAR\tSaudi Arabian riyal,7000.0,Monthly,C#;HTML/CSS;PHP;SQL,C#;Dart;HTML/CSS;SQL;TypeScript,Microsoft SQL Server;MySQL,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,Angular;Angular.js;ASP.NET;ASP.NET Core ;React.js,Angular;Angular.js;ASP.NET;ASP.NET Core ;Blazor,.NET,.NET;Flutter,npm,Docker;npm,Atom;Sublime Text;Visual Studio;Visual Studio ...,Android Studio;Visual Studio;Visual Studio Code,Linux-based;macOS;Windows,Windows,Git;Other (please specify):,Command-line;Version control hosting service w...,NaN,NaN,NaN,NaN,Cisco Webex Teams;Microsoft Teams;Zoom,Cisco Webex Teams;Microsoft Teams,Unfavorable,Stack Overflow,A few times per month or weekly,Yes,I have never participated in Q&A on Stack Over...,Not sure,25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,2.0,Neither agree nor disagree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,Never,Over 120 minutes a day,30-60 minutes a day,Somewhat long,Developer portal or other central places to fi...,No,No,Yes,Appropriate in length,Neither easy nor difficult,22404.0
71356,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Contribute to open-source projects;Freelance/c...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,17,2,"Developer, back-end",500 to 999 employees,I have some influence,Start a free trial;Ask developers I know/work ...,Saudi Arabia,SAR\tSaudi Arabian riyal,21850.0,NaN,HTML/CSS;Python,HTML/CSS;Python;Rust,PostgreSQL;Redis,PostgreSQL;Redis;SQLite,AWS;Heroku;Managed Hosting,AWS;DigitalOcean;Heroku;Managed Hosting,Django;FastAPI,Django;FastAPI,Pandas,Pandas,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,PyCharm;Visual Studio Code;Webstorm,PyCharm;Visual Studio Code;Webstorm,macOS,macOS,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Airtable;Confluence;Jira Work Management;Notion,Confluence;Jira Work Management;Notion,Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,NaN,I have a concentration and/or memory disorder ...,Yes,Independent contributor,2.0,Strongly agree,Strongly disagree,Strongly agree,Strongly agree,Agree,Neither agree nor disagree,Agree,3-5 times a week,6-10 times a week,1-2 times a week,60-120 minutes a day,15-30 minutes a day,Just right,Innersource initiative;DevOps function;Continu...,Yes,No,No,Appropriate in length,Easy,NaN
72313,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Colleague,NaN,NaN,12,9,"Developer, full-stack;Engineering manager;Desi...",500 to 999 employees,I have some influence,Start a free trial;Read ratings or reviews on ...,Saudi Arabia,SAR\tSaudi Arabian riyal,32000.0,Monthly,C#;HTML/CSS;Java;JavaScript;Python;SQL,JavaScript;Python,Microsoft SQL Server;Oracle,Elasticsearch;Redis,Microsoft Azure,AWS,Angular;ASP.NET Core ;Express;Flask;Node.js;Re...,Express;Node.js;React.js,.NET,Apache Kafka;Apache Spark;Hadoop;React Native,Docker;npm,Docker;Kubernetes;npm,Atom;Notepad++;Visual Studio;Visual Studio Code,Atom;Visual Studio Code,Linux-based;Windows,macOS,Git,Command-line,NaN,NaN,Microsoft Planner;Trello,NaN,Microsoft Teams;Slack,Microsoft Teams;Slack,Unsure,Stack Overflow;Stack Exchange,A few times per week,Yes,Less than once per month or monthly,"No, not really",25-34 years old,Woman,No,Straight / Heterosexual,Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,102408.0

So now let's go back to our example, we want to see `gender` broken by `country` we can do that with our filtered value by selecting the column and applying `value_counts` on it as such

In [41]:
filt = df['Country'] == 'India'
df.loc[filt]['Gender'].value_counts()

Man                                                            5995
Woman                                                           347
Prefer not to say                                               121
Man;Or, in your own words:                                       10
Man;Non-binary, genderqueer, or gender non-conforming             7
Or, in your own words:                                            5
Non-binary, genderqueer, or gender non-conforming                 5
Woman;Non-binary, genderqueer, or gender non-conforming           3
Man;Woman;Non-binary, genderqueer, or gender non-conforming       1
Name: Gender, dtype: int64

Now those are the results of a single country, but if we happen to run it on our dataframe groupby object then it will give us the results of all those countries groups. 
So we use our variable and select the column we want and apply the method on it

In [43]:
country_grp['Gender'].value_counts().head(50)

Country              Gender
Afghanistan          Man                                                                                     32
                     Prefer not to say                                                                       11
                     Or, in your own words:                                                                   7
                     Woman                                                                                    3
                     Man;Woman                                                                                2
                     Non-binary, genderqueer, or gender non-conforming                                        2
                     Man;Or, in your own words:                                                               1
                     Man;Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming       1
Albania              Man                                                                                     47
                     Woman                                                                                    6
                     Prefer not to say                                                                        3
                     Non-binary, genderqueer, or gender non-conforming                                        1
Algeria              Man                                                                                     34
                     Woman                                                                                    1
Andorra              Man                                                                                     11
                     Woman                                                                                    1
Angola               Man                                                                                      9
                     Man;Woman;Non-binary, genderqueer, or gender non-conforming                              1
Antigua and Barbuda  Non-binary, genderqueer, or gender non-conforming                                        1
                     Prefer not to say                                                                        1
Argentina            Man                                                                                    484
                     Woman                                                                                   18
                     Prefer not to say                                                                        7
                     Non-binary, genderqueer, or gender non-conforming                                        5
                     Or, in your own words:                                                                   2
                     Man;Non-binary, genderqueer, or gender non-conforming                                    1
                     Man;Or, in your own words:                                                               1
                     Man;Woman;Non-binary, genderqueer, or gender non-conforming                              1
                     Woman;Non-binary, genderqueer, or gender non-conforming                                  1
Armenia              Man                                                                                     82
                     Woman                                                                                    6
                     Prefer not to say                                                                        2
                     Man;Woman;Non-binary, genderqueer, or gender non-conforming                              1
                     Or, in your own words:                                                                   1
Australia            Man                                                                                   1299
                     Woman                                                                                   71
                     Prefer not to say                                                                       26
                     Non-binary, genderqueer, or gender non-conforming                                       24
                     Man;Or, in your own words:                                                               6
                     Or, in your own words:                                                                   5
                     Man;Non-binary, genderqueer, or gender non-conforming                                    3
                     Man;Woman;Non-binary, genderqueer, or gender non-conforming                              1
                     Or, in your own words:;Non-binary, genderqueer, or gender non-conforming                 1
                     Or, in your own words:;Woman;Non-binary, genderqueer, or gender non-conforming           1
                     Woman;Non-binary, genderqueer, or gender non-conforming                                  1
Austria              Man                                                                                    760
                     Woman                                                                                   31
                     Prefer not to say                                                                       19
                     Non-binary, genderqueer, or gender non-conforming                                        8
                     Man;Or, in your own words:                                                               3
Name: Gender, dtype: int64

So we can see that we have a series here and the series has multiple indexes (one for country and the other for geneder) so if we want to access the data only for Indeia what we do is simpley attach a `.loc` in the end as follows. Remember if you prefer to see percentages instead of raw values all you have to do is set the `normalize` value to `True`

In [45]:
country_grp['Gender'].value_counts(normalize=True).loc['India']

Gender
Man                                                            0.923160
Woman                                                          0.053434
Prefer not to say                                              0.018633
Man;Or, in your own words:                                     0.001540
Man;Non-binary, genderqueer, or gender non-conforming          0.001078
Non-binary, genderqueer, or gender non-conforming              0.000770
Or, in your own words:                                         0.000770
Woman;Non-binary, genderqueer, or gender non-conforming        0.000462
Man;Woman;Non-binary, genderqueer, or gender non-conforming    0.000154
Name: Gender, dtype: float64

Now we can use it also in results that resumble our aggregate functions such as `mean`, `median` and `mode` So before we looked at the median for salary, but now let's break it down to each country

In [48]:
country_grp['ConvertedCompYearly'].median().tail(50)

Country
Republic of Moldova                                      30426.0
Romania                                                  46596.0
Russian Federation                                       40820.0
Rwanda                                                   17648.0
Saint Kitts and Nevis                                        NaN
Saint Lucia                                               8880.0
San Marino                                                   NaN
Saudi Arabia                                             60168.0
Senegal                                                  36000.0
Serbia                                                   35964.0
Seychelles                                                2436.0
Sierra Leone                                                 NaN
Singapore                                                74196.0
Slovakia                                                 40956.0
Slovenia                                                 47352.0
Solomon Islands                                              NaN
Somalia                                                  12000.0
South Africa                                             45516.0
South Korea                                              39577.0
Spain                                                    47990.0
Sri Lanka                                                 6996.0
Sudan                                                     6684.0
Suriname                                                  9600.0
Swaziland                                                    NaN
Sweden                                                   60948.0
Switzerland                                             113761.0
Syrian Arab Republic                                     10158.0
Taiwan                                                   33801.0
Tajikistan                                                6240.0
Thailand                                                 31620.0
The former Yugoslav Republic of Macedonia                36259.0
Timor-Leste                                              61356.0
Togo                                                      3414.0
Trinidad and Tobago                                      24396.0
Tunisia                                                   9492.0
Turkey                                                   18000.0
Turkmenistan                                             34248.0
Uganda                                                    8184.0
Ukraine                                                  40608.0
United Arab Emirates                                     62682.0
United Kingdom of Great Britain and Northern Ireland     82922.0
United Republic of Tanzania                               7740.0
United States of America                                145000.0
Uruguay                                                  50750.0
Uzbekistan                                               12000.0
Venezuela, Bolivarian Republic of...                     12000.0
Viet Nam                                                 11388.0
Yemen                                                    15000.0
Zambia                                                    6612.0
Zimbabwe                                                 11400.0
Name: ConvertedCompYearly, dtype: float64

Now say I want to see only the result of Germany then what I can do is used the `loc` indexer

In [49]:
country_grp['ConvertedCompYearly'].median().loc['Germany']

69318.0

Now what if we want to see the mean along with the median? then what we can do is use the `agg` method and pass all the aggregate functions we want to run

In [50]:
country_grp['ConvertedCompYearly'].agg(['median', 'mean'])

                                       median          mean
Country
Afghanistan                           10894.0  33914.666667
Albania                               15360.0  24895.148148
Algeria                                7440.0  12732.888889
Andorra                               76784.0  98003.125000
Angola                                 3073.5   6222.750000
...                                       ...           ...
Venezuela, Bolivarian Republic of...  12000.0  17079.400000
Viet Nam                              11388.0  37707.563830
Yemen                                 15000.0  17464.666667
Zambia                                 6612.0   8452.000000
Zimbabwe                              11400.0  87596.000000

[180 rows x 2 columns]

Now as we said before, if we want to narrow it down to a specific country, we can do that by simply by grabing the results by each country name so if we wanted to look at the `mean` and `median` for Saudi Arabia then

In [52]:
country_grp['ConvertedCompYearly'].agg(['median', 'mean']).loc['Saudi Arabia']

median    60168.000000
mean      68223.621622
Name: Saudi Arabia, dtype: float64

Sometimes you might run into some unexpected results for example, if you wanted to find out how many people in each country know how to use python. 

Before looking into the group, lets see how we can do this to a single country using the filtering approach used earlier. And then use the string methods we've seen earlier in previous lessons.

In [62]:
filt = df['Country'] == 'Saudi Arabia'
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').value_counts()

False    58
True     54
Name: LanguageHaveWorkedWith, dtype: int64

In [64]:
# if we want to see how many people said yes then we can use sum 
df.loc[filt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

54

Now we might think we can do the same thing with our groupby dataframe but that's not the case

In [65]:
country_grp['LanguageHaveWorkedWith'].str.contains('Python').sum()

AttributeError: 'SeriesGroupBy' object has no attribute 'str'

So when we run the apply method we need to specify what function we want to run on the series. It's a bit confusing but when we look at it in this example, hofully it'll be more clear

In [70]:
country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

Now looking at the data with just that single number of people who had python in the languages doesn't give us the complete pictures. What would be helpful is to know the percentage of people who know python from each country based on how many people answered and how many said yees they do. Now that requires a lot of calculations. We'd like a way for Pandas and python to do that for us.

_info_: the istructor gave it to use as a challenge I'll see if I can calculate that and then see his solution

##### My Attempt
So I'm thinking what if I cound the values for how many people answered that column using `value_counts` on the `LanguageHaveWorkedWith` column and then move on from there but first see if it's teh result that I want

In [71]:
country_grp['LanguageHaveWorkedWith'].value_counts()

Country      LanguageHaveWorkedWith
Afghanistan  APL                                                                                                                                                                                                                                                                         4
             APL;Assembly;Bash/Shell;C;C#;C++;COBOL;Crystal;Dart;Delphi;Erlang;F#;Fortran;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;Kotlin;LISP;Lua;Objective-C;Perl;PHP;PowerShell;Python;R;Ruby;Rust;SAS;SQL;Swift;TypeScript;VBA                                               1
             APL;Assembly;Bash/Shell;C;C#;C++;Clojure;COBOL;Crystal;Dart;Delphi;Elixir;Erlang;F#;Fortran;Go;Groovy;Haskell;HTML/CSS;Java;JavaScript;Julia;Kotlin;LISP;Lua;MATLAB;OCaml;Objective-C;Perl;PHP;PowerShell;Python;R;Ruby;Rust;SAS;Scala;Solidity;SQL;Swift;TypeScript;VBA    1
             APL;Bash/Shell;C                                                                                                                                                                                                                                                            1
             Assembly;Bash/Shell;C;C#;C++;Java;JavaScript;Kotlin;TypeScript;VBA                                                                                                                                                                                                          1
                                                                                                                                                                                                                                                                                        ..
Zimbabwe     Java                                                                                                                                                                                                                                                                        1
             Java;Python;Swift                                                                                                                                                                                                                                                           1
             Java;SQL                                                                                                                                                                                                                                                                    1
             Kotlin                                                                                                                                                                                                                                                                      1
             Rust                                                                                                                                                                                                                                                                        1
Name: LanguageHaveWorkedWith, Length: 47263, dtype: int64

Yeah... that's not the result that I want... how about just printing out the column and see what we've got

In [72]:
country_grp['LanguageHaveWorkedWith']

Nope... maybe if I check the docs wait wait... I remember we had describe so let me use that

In [74]:
country_grp.describe()

                                     CompTotal                              \
                                         count          mean           std
Country
Afghanistan                               15.0  3.808414e+06  1.416582e+07
Albania                                   27.0  5.104657e+05  2.298467e+06
Algeria                                    9.0  8.754444e+04  9.632415e+04
Andorra                                    8.0  7.677250e+04  8.828355e+04
Angola                                     5.0  1.287990e+09  2.879038e+09
...                                        ...           ...           ...
Venezuela, Bolivarian Republic of...      61.0  4.498590e+03  1.282935e+04
Viet Nam                                 102.0  4.443807e+07  1.246095e+08
Yemen                                      6.0  1.071667e+05  1.963137e+05
Zambia                                     3.0  5.613333e+03  4.151209e+03
Zimbabwe                                   8.0  9.445000e+04  2.648825e+05

                                                                     \
                                          min       25%         50%
Country
Afghanistan                               0.0       1.0      6000.0
Albania                                  25.0    1100.0      5500.0
Algeria                                2500.0   42400.0     75000.0
Andorra                                 180.0    7250.0     31500.0
Angola                                50000.0  130000.0    600000.0
...                                       ...       ...         ...
Venezuela, Bolivarian Republic of...     20.0     600.0      1094.0
Viet Nam                                 20.0   74500.0  15000000.0
Yemen                                   500.0    1125.0     20750.0
Zambia                                 1200.0    3700.0      6200.0
Zimbabwe                                200.0     525.0       950.0

                                                                \
                                             75%           max
Country
Afghanistan                              70000.0  5.500000e+07
Albania                                  90000.0  1.200000e+07
Algeria                                  90000.0  3.300000e+05
Andorra                                 155000.0  2.000000e+05
Angola                                 1000000.0  6.438169e+09
...                                          ...           ...
Venezuela, Bolivarian Republic of...      2000.0  7.440000e+04
Viet Nam                              31937500.0  1.000000e+09
Yemen                                    85000.0  5.000000e+05
Zambia                                    7820.0  9.440000e+03
Zimbabwe                                  1200.0  7.500000e+05

                                     VCHostingPersonal use                   \
                                                     count mean std min 25%
Country
Afghanistan                                            0.0  NaN NaN NaN NaN
Albania                                                0.0  NaN NaN NaN NaN
Algeria                                                0.0  NaN NaN NaN NaN
Andorra                                                0.0  NaN NaN NaN NaN
Angola                                                 0.0  NaN NaN NaN NaN
...                                                    ...  ...  ..  ..  ..
Venezuela, Bolivarian Republic of...                   0.0  NaN NaN NaN NaN
Viet Nam                                               0.0  NaN NaN NaN NaN
Yemen                                                  0.0  NaN NaN NaN NaN
Zambia                                                 0.0  NaN NaN NaN NaN
Zimbabwe                                               0.0  NaN NaN NaN NaN

                                                 VCHostingProfessional use  \
                                     50% 75% max                     count
Country
Afghanistan                          NaN NaN NaN                       0.0
Albania                              NaN NaN NaN                       0.0
Algeria                              NaN NaN NaN                       0.0
Andorra                              NaN NaN NaN                       0.0
Angola                               NaN NaN NaN                       0.0
...                                   ..  ..  ..                       ...
Venezuela, Bolivarian Republic of... NaN NaN NaN                       0.0
Viet Nam                             NaN NaN NaN                       0.0
Yemen                                NaN NaN NaN                       0.0
Zambia                               NaN NaN NaN                       0.0
Zimbabwe                             NaN NaN NaN                       0.0

                                                                  WorkExp  \
                                     mean std min 25% 50% 75% max   count
Country
Afghanistan                           NaN NaN NaN NaN NaN NaN NaN    21.0
Albania                               NaN NaN NaN NaN NaN NaN NaN    24.0
Algeria                               NaN NaN NaN NaN NaN NaN NaN    14.0
Andorra                               NaN NaN NaN NaN NaN NaN NaN    10.0
Angola                                NaN NaN NaN NaN NaN NaN NaN     5.0
...                                   ...  ..  ..  ..  ..  ..  ..     ...
Venezuela, Bolivarian Republic of...  NaN NaN NaN NaN NaN NaN NaN    62.0
Viet Nam                              NaN NaN NaN NaN NaN NaN NaN   161.0
Yemen                                 NaN NaN NaN NaN NaN NaN NaN     7.0
Zambia                                NaN NaN NaN NaN NaN NaN NaN     7.0
Zimbabwe                              NaN NaN NaN NaN NaN NaN NaN    12.0

                                                                             \
                                           mean        std  min   25%   50%
Country
Afghanistan                            9.428571  11.745516  0.0  3.00   6.0
Albania                                6.166667   5.553430  1.0  2.00   5.0
Algeria                                4.357143   6.171986  1.0  1.00   2.5
Andorra                               15.800000  10.942273  4.0  6.00  13.0
Angola                                15.000000  17.363755  3.0  6.00   6.0
...                                         ...        ...  ...   ...   ...
Venezuela, Bolivarian Republic of...   7.177419   8.143235  0.0  2.25   4.5
Viet Nam                               5.751553   7.534115  0.0  2.00   4.0
Yemen                                  3.571429   4.577377  0.0  1.00   1.0
Zambia                                 6.285714   8.159132  1.0  1.00   2.0
Zimbabwe                               6.583333   4.521833  2.0  3.00   5.0

                                                  ConvertedCompYearly  \
                                        75%   max               count
Country
Afghanistan                           13.00  50.0                 9.0
Albania                                8.25  23.0                27.0
Algeria                                3.00  24.0                 9.0
Andorra                               24.25  36.0                 8.0
Angola                                15.00  45.0                 4.0
...                                     ...   ...                 ...
Venezuela, Bolivarian Republic of...   8.00  43.0                60.0
Viet Nam                               6.00  50.0                94.0
Yemen                                  5.00  12.0                 6.0
Zambia                                 8.50  22.0                 3.0
Zimbabwe                              10.00  17.0                 8.0

                                                                           \
                                              mean            std     min
Country
Afghanistan                           33914.666667   54672.607812  1634.0
Albania                               24895.148148   29067.747271    36.0
Algeria                               12732.888889   10654.391541  3504.0
Andorra                               98003.125000   86734.669635   192.0
Angola                                 6222.750000    7447.672808  1440.0
...                                            ...            ...     ...
Venezuela, Bolivarian Republic of...  17079.400000   15945.444819   240.0
Viet Nam                              37707.563830  119893.178524     1.0
Yemen                                 17464.666667   13208.911033  4800.0
Zambia                                 8452.000000    5274.465281  4344.0
Zimbabwe                              87596.000000  195873.425345  3600.0


                                           25%      50%        75%       max
Country
Afghanistan                            5280.00  10894.0   15600.00  158484.0
Albania                                2016.00  15360.0   37350.00  106780.0
Algeria                                6192.00   7440.0   19196.00   31992.0
Andorra                               27994.50  76784.0  165297.50  213287.0
Angola                                 2162.25   3073.5    7134.00   17304.0
...                                        ...      ...        ...       ...
Venezuela, Bolivarian Republic of...   6000.00  12000.0   23100.00   74400.0
Viet Nam                               6732.00  11388.0   23950.75  995064.0
Yemen                                  7500.00  15000.0   22491.00   40000.0
Zambia                                 5478.00   6612.0   10506.00   14400.0
Zimbabwe                               9300.00  11400.0   28650.00  568968.0

[180 rows x 40 columns]

Yeah I forot that it just uses numerical data. okay I'll have alook at the docs for [aggregate funtions in Pandas](https://pandas.pydata.org/docs/user_guide/groupby.html#aggregation)

In [75]:
country_grp['LanguageHaveWorkedWith'].count() # Compute the number of non-NA values in the groups

Country
Afghanistan                              64
Albania                                  56
Algeria                                  36
Andorra                                  15
Angola                                   11
                                       ...
Venezuela, Bolivarian Republic of...    118
Viet Nam                                304
Yemen                                    14
Zambia                                   17
Zimbabwe                                 28
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

Okay so that's the total, what I need to figure out is how to count the ones that use python and then get the mean of them. we learned how to add the `agg` method to chain in functions so let me see

In [82]:
country_grp['LanguageHaveWorkedWith'].agg(['count', lambda x: x.str.contains('Python').sum()])

                                      count  <lambda_0>
Country
Afghanistan                              64          25
Albania                                  56          19
Algeria                                  36          19
Andorra                                  15           4
Angola                                   11           3
...                                     ...         ...
Venezuela, Bolivarian Republic of...    118          52
Viet Nam                                304         136
Yemen                                    14           4
Zambia                                   17           6
Zimbabwe                                 28          11

[180 rows x 2 columns]

Okay now I'm thinking of saving the result into a value and then maybe add another column that has the result let me just test the calculation first

In [83]:
test = country_grp['LanguageHaveWorkedWith'].agg(['count', lambda x: x.str.contains('Python').sum()])

In [85]:
test['<lambda_0>'] / test['count']

Country
Afghanistan                             0.390625
Albania                                 0.339286
Algeria                                 0.527778
Andorra                                 0.266667
Angola                                  0.272727
                                          ...
Venezuela, Bolivarian Republic of...    0.440678
Viet Nam                                0.447368
Yemen                                   0.285714
Zambia                                  0.352941
Zimbabwe                                0.392857
Length: 180, dtype: float64

Okay I think this works. Not sure if it's right though. Lets see what the instructor did

##### Instructor solution

He mentions that we'll be using a combination of a few of the things we learned here. 
1. he plans on grabing the total number of respondents in each country (that way we'll know the number of people from each country who responded to this survey)

In [86]:
country_respondent = df['Country'].value_counts()
country_respondent

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

2. now we'll grab the number of people from each country who know python

In [87]:
country_uses_python = country_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

Okay so now we have one value that is a series that holds teh total number of people in each country and anther variable that is a series that holds the number of people who know python in each country.

Now we need to combine these two. we can combine a number os dataframe series togetjer using the `concat` method

3. so now we'll create a dataframe where we concat those two series into one

In [88]:
python_df = pd.concat([country_respondent, country_uses_python], axis='columns')
python_df

,Country,LanguageHaveWorkedWith
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

So now we can see it in a better way so we cab see for india, we have around 6000 respondents and 3000 of them know python. This is a much clearer approach or rather view of the data. But we're not done just yet. 

But first we see that the columns no longer represent our data, so let's rename them so it makes more sense in the context of what we want to do

In [91]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageHaveWorkedWith': 'NumKnowsPython'}, inplace=True)
python_df

,NumRespondents,NumKnowsPython
United States of America,13543,7017
India,6639,3081
Germany,5395,2674
United Kingdom of Great Britain and Northern Ireland,4190,2082
Canada,2490,1272
...,...,...
Monaco,1,0
Djibouti,1,0
Seychelles,1,0
Solomon Islands,1,1
Saint Kitts and Nevis,1,1

We have all the data we need to calculate the percentage so all we have left to do is

4. create a new column and calculate this

in order to create a new column, we can simply just assign it so

In [94]:
python_df['PctKnowsPython'] = ((python_df['NumKnowsPython']/python_df['NumRespondents']) * 100)
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython
United States of America,13543,7017,51.812745
India,6639,3081,46.407592
Germany,5395,2674,49.564411
United Kingdom of Great Britain and Northern Ireland,4190,2082,49.689737
Canada,2490,1272,51.084337
...,...,...,...
Monaco,1,0,0.000000
Djibouti,1,0,0.000000
Seychelles,1,0,0.000000
Solomon Islands,1,1,100.000000
Saint Kitts and Nevis,1,1,100.000000

Now we can work with this data like any other dataframe. So say we want to sort the results which we learned earlier, all we have to do is use the `sort` method and specify by what column

In [100]:
python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)
python_df

                       NumRespondents  NumKnowsPython  PctKnowsPython
Saint Kitts and Nevis               1               1           100.0
Brunei Darussalam                   1               1           100.0
Burkina Faso                        1               1           100.0
Fiji                                2               2           100.0
Papua New Guinea                    2               2           100.0
...                               ...             ...             ...
Sierra Leone                        2               0             0.0
San Marino                          1               0             0.0
Monaco                              1               0             0.0
Djibouti                            1               0             0.0
Seychelles                          1               0             0.0

[180 rows x 3 columns]

It's a bit missleading because the percentage is 100% yet it only has a single respondent from that country so let's look at the head and grab a larger number

In [101]:
python_df.head(50)

,NumRespondents,NumKnowsPython,PctKnowsPython
Saint Kitts and Nevis,1,1,100.000000
Brunei Darussalam,1,1,100.000000
Burkina Faso,1,1,100.000000
Fiji,2,2,100.000000
Papua New Guinea,2,2,100.000000
North Korea,4,4,100.000000
Solomon Islands,1,1,100.000000
Lao People's Democratic Republic,7,6,85.714286
Timor-Leste,4,3,75.000000
Suriname,4,3,75.000000
Democratic Republic of the Congo,7,5,71.428571
Mali,10,7,70.000000
Kuwait,20,14,70.000000
Oman,13,9,69.230769
Botswana,6,4,66.666667
Belize,3,2,66.666667
Haiti,3,2,66.666667
Singapore,226,148,65.486726
Rwanda,20,13,65.000000
Benin,11,7,63.636364
Qatar,20,12,60.000000
Guinea,5,3,60.000000
Isle of Man,12,7,58.333333
Swaziland,7,4,57.142857
CÃ´te d'Ivoire,14,8,57.142857
Israel,795,453,56.981132
Taiwan,233,132,56.652361
Guatemala,54,30,55.555556
Finland,468,260,55.555556
Cuba,31,17,54.838710
Switzerland,932,507,54.399142
Algeria,36,19,52.777778
China,632,332,52.531646
Ireland,332,174,52.409639
Sri Lanka,296,155,52.364865
Hong Kong (S.A.R.),184,96,52.173913
United States of America,13543,7017,51.812745
France,2328,1204,51.718213
Malta,39,20,51.282051
South Korea,229,117,51.091703
Canada,2490,1272,51.084337
Lesotho,2,1,50.000000
Ghana,86,43,50.000000
Palau,2,1,50.000000
Cameroon,34,17,50.000000
Jamaica,22,11,50.000000
Turkmenistan,16,8,50.000000
Nepal,222,111,50.000000
Gambia,2,1,50.000000
Liberia,2,1,50.000000

Now with this dataframe we can look at a specific country and know the percentage of people who know python

In [102]:
python_df.loc['Japan']

NumRespondents    333.00000
NumKnowsPython    165.00000
PctKnowsPython     49.54955
Name: Japan, dtype: float64

### Practice
The instructor left us with a question, what's the common education level (per country) lets practice that!

In [8]:
# group my country
country_gp = df.groupby(['Country'])
country_gp

In [9]:
country_gp['EdLevel']

In [12]:
country_gp.get_group('Saudi Arabia')

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,
222,I am a developer by profession,"Employed, full-time",Fully remote,Contribute to open-source projects,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,18,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,160008.0
4295,I am a developer by profession,"Employed, full-time",Full in-person,Hobby;Contribute to open-source projects;Freel...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Coursera;Udemy;edX;Udacity,10,6,...,Less than 15 minutes a day,Less than 15 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,19200.0
4557,I am a developer by profession,"Employed, full-time",Full in-person,Freelance/contract work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Online Courses or Certific...,NaN,Udemy,14,8,...,30-60 minutes a day,15-30 minutes a day,Somewhat long,Microservices,No,Yes,Yes,Too long,Easy,35208.0
5550,I am a developer by profession,"Employed, full-time;Independent contractor, fr...","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;Pluralsight;edX,15,6,...,30-60 minutes a day,Less than 15 minutes a day,Very long,Innersource initiative;DevOps function;Continu...,Yes,Yes,Yes,Too long,Neither easy nor difficult,76800.0
6075,I am a developer by profession,"Employed, full-time",Full in-person,Contribute to open-source projects;Freelance/c...,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Written Tutorial...,NaN,20,13,...,15-30 minutes a day,60-120 minutes a day,Very long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69460,I code primarily as a hobby,"Employed, full-time",Full in-person,Hobby,"Professional degree (JD, MD, etc.)",Books / Physical media,NaN,NaN,24,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
69611,"I used to be a developer by profession, but no...",NaN,NaN,NaN,"Professional degree (JD, MD, etc.)",NaN,NaN,NaN,3,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
71019,I am a developer by profession,"Employed, full-time",Full in-person,Other (please specify):,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Online books;Vid...,Udemy;Codecademy;Pluralsight,6,2,...,Over 120 minutes a day,30-60 minutes a day,Somewhat long,Developer portal or other central places to fi...,No,No,Yes,Appropriate in length,Neither easy nor difficult,22404.0
71356,I am a developer by profession,"Employed, full-time;Independent contractor, fr...",Fully remote,Contribute to open-source projects;Freelance/c...,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,17,2,...,60-120 minutes a day,15-30 minutes a day,Just right,Innersource initiative;DevOps function;Continu...,Yes,No,No,Appropriate in length,Easy,NaN
72313,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)",Colleague,NaN,NaN,12,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,102408.0

In [26]:
# get the number of participents per country
particpents_per_country = df['Country'].value_counts()
particpents_per_country

United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: Country, Length: 180, dtype: int64

In [22]:
# get the number of education level by country particimpernt 
education_level_per_country = country_gp['EdLevel'].value_counts()
education_level_per_country

Country      EdLevel
Afghanistan  Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)                                          26
             Primary/elementary school                                                              9
             Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)                                        8
             Some college/university study without earning a degree                                 8
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     6
                                                                                                   ..
Zimbabwe     Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)                                          12
             Some college/university study without earning a degree                                11
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5
             Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)                                        1
             Primary/elementary school                                                              1
Name: EdLevel, Length: 1137, dtype: int64

In [27]:
# create a new data fame from both of them
df_education = pd.concat([particpents_per_country, education_level_per_country], axis='columns')
df_education.head(50)

                                                    Country  EdLevel
United States of America                            13543.0      NaN
India                                                6639.0      NaN
Germany                                              5395.0      NaN
United Kingdom of Great Britain and Northern Ir...   4190.0      NaN
Canada                                               2490.0      NaN
France                                               2328.0      NaN
Brazil                                               2109.0      NaN
Poland                                               1732.0      NaN
Netherlands                                          1555.0      NaN
Spain                                                1521.0      NaN
Italy                                                1514.0      NaN
Australia                                            1462.0      NaN
Russian Federation                                   1229.0      NaN
Turkey                                               1020.0      NaN
Sweden                                               1020.0      NaN
Switzerland                                           932.0      NaN
Austria                                               833.0      NaN
Israel                                                795.0      NaN
Iran, Islamic Republic of...                          723.0      NaN
Pakistan                                              711.0      NaN
Czech Republic                                        692.0      NaN
China                                                 632.0      NaN
Belgium                                               626.0      NaN
Bangladesh                                            613.0      NaN
Ukraine                                               593.0      NaN
Romania                                               581.0      NaN
Mexico                                                574.0      NaN
Portugal                                              563.0      NaN
Greece                                                548.0      NaN
Denmark                                               547.0      NaN
Indonesia                                             537.0      NaN
Argentina                                             521.0      NaN
Nigeria                                               517.0      NaN
South Africa                                          493.0      NaN
Norway                                                479.0      NaN
Finland                                               468.0      NaN
Hungary                                               466.0      NaN
New Zealand                                           440.0      NaN
Egypt                                                 400.0      NaN
Philippines                                           366.0      NaN
Bulgaria                                              364.0      NaN
Colombia                                              341.0      NaN
Japan                                                 333.0      NaN
Ireland                                               332.0      NaN
Viet Nam                                              317.0      NaN
Sri Lanka                                             296.0      NaN
Slovenia                                              286.0      NaN
Serbia                                                282.0      NaN
Kenya                                                 270.0      NaN
Taiwan                                                233.0      NaN

So I took a break and came back. I think I have an idea maybe the count values was done on the wrong dataframe also when I combined the series maybe because the axis were column it just fucked up but let me try again.

So looking back at how I counted, I used teh country_gp maybe the right approach is to use the df straight away

In [29]:
# get the number of education level by country particimpernt 
education_level = df['EdLevel'].value_counts()
education_level

Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)                                          30276
Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)                                       15486
Some college/university study without earning a degree                                 9326
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     7904
Associate degree (A.A., A.S., etc.)                                                    2236
Other doctoral degree (Ph.D., Ed.D., etc.)                                             2169
Primary/elementary school                                                              1806
Something else                                                                         1247
Professional degree (JD, MD, etc.)                                                     1121
Name: EdLevel, dtype: int64

In [30]:
# get the number of education level by country particimpernt 
education_level_per_country = country_gp['EdLevel'].value_counts()
education_level_per_country

Country      EdLevel
Afghanistan  Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)                                          26
             Primary/elementary school                                                              9
             Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)                                        8
             Some college/university study without earning a degree                                 8
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     6
                                                                                                   ..
Zimbabwe     Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)                                          12
             Some college/university study without earning a degree                                11
             Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     5
             Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)                                        1
             Primary/elementary school                                                              1
Name: EdLevel, Length: 1137, dtype: int64

In [33]:
# create a new data fame from both of them
df_education = pd.concat([particpents_per_country, education_level_per_country], axis='columns')
df_education.head(50)

                                                    Country  EdLevel
United States of America                            13543.0      NaN
India                                                6639.0      NaN
Germany                                              5395.0      NaN
United Kingdom of Great Britain and Northern Ir...   4190.0      NaN
Canada                                               2490.0      NaN
France                                               2328.0      NaN
Brazil                                               2109.0      NaN
Poland                                               1732.0      NaN
Netherlands                                          1555.0      NaN
Spain                                                1521.0      NaN
Italy                                                1514.0      NaN
Australia                                            1462.0      NaN
Russian Federation                                   1229.0      NaN
Turkey                                               1020.0      NaN
Sweden                                               1020.0      NaN
Switzerland                                           932.0      NaN
Austria                                               833.0      NaN
Israel                                                795.0      NaN
Iran, Islamic Republic of...                          723.0      NaN
Pakistan                                              711.0      NaN
Czech Republic                                        692.0      NaN
China                                                 632.0      NaN
Belgium                                               626.0      NaN
Bangladesh                                            613.0      NaN
Ukraine                                               593.0      NaN
Romania                                               581.0      NaN
Mexico                                                574.0      NaN
Portugal                                              563.0      NaN
Greece                                                548.0      NaN
Denmark                                               547.0      NaN
Indonesia                                             537.0      NaN
Argentina                                             521.0      NaN
Nigeria                                               517.0      NaN
South Africa                                          493.0      NaN
Norway                                                479.0      NaN
Finland                                               468.0      NaN
Hungary                                               466.0      NaN
New Zealand                                           440.0      NaN
Egypt                                                 400.0      NaN
Philippines                                           366.0      NaN
Bulgaria                                              364.0      NaN
Colombia                                              341.0      NaN
Japan                                                 333.0      NaN
Ireland                                               332.0      NaN
Viet Nam                                              317.0      NaN
Sri Lanka                                             296.0      NaN
Slovenia                                              286.0      NaN
Serbia                                                282.0      NaN
Kenya                                                 270.0      NaN
Taiwan                                                233.0      NaN

it didn't work, so I'm thining of countring each degree seperatly

In [49]:
# get the number of bacholor level by country particimpernt 
bacholor_level_per_country = country_gp['EdLevel'].apply(lambda x: x.str.contains('Bachelor').sum())
bacholor_level_per_country.rename('bacholor', inplace=True)
bacholor_level_per_country.name
bacholor_level_per_country

Country
Afghanistan                              26
Albania                                  24
Algeria                                   3
Andorra                                   6
Angola                                    5
                                       ...
Venezuela, Bolivarian Republic of...     47
Viet Nam                                153
Yemen                                    14
Zambia                                    8
Zimbabwe                                 12
Name: bacholor, Length: 180, dtype: int64

YES! I got the bachlor so I think I'll grab each value on it's own

In [50]:
# get the number of Primary education level by country particimpernt 
primary_level_per_country = country_gp['EdLevel'].apply(lambda x: x.str.contains('Primary').sum())
primary_level_per_country.rename('primary', inplace=True)
primary_level_per_country.name
primary_level_per_country

Country
Afghanistan                              9
Albania                                  2
Algeria                                  0
Andorra                                  1
Angola                                   1
                                        ..
Venezuela, Bolivarian Republic of...     0
Viet Nam                                15
Yemen                                    0
Zambia                                   1
Zimbabwe                                 1
Name: primary, Length: 180, dtype: int64

In [51]:
# get the number of Master's education level by country particimpernt 
master_level_per_country = country_gp['EdLevel'].apply(lambda x: x.str.contains('Master').sum())
master_level_per_country.rename('master', inplace=True)
master_level_per_country.name
master_level_per_country

Country
Afghanistan                              8
Albania                                 14
Algeria                                 22
Andorra                                  3
Angola                                   0
                                        ..
Venezuela, Bolivarian Republic of...     1
Viet Nam                                16
Yemen                                    0
Zambia                                   1
Zimbabwe                                 1
Name: master, Length: 180, dtype: int64

In [52]:
# get the number of Some college education level by country particimpernt 
some_level_per_country = country_gp['EdLevel'].apply(lambda x: x.str.contains('Some college').sum())
some_level_per_country.rename('someEducation', inplace=True)
some_level_per_country.name
some_level_per_country

Country
Afghanistan                              8
Albania                                  9
Algeria                                  3
Andorra                                  1
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    36
Viet Nam                                65
Yemen                                    0
Zambia                                   7
Zimbabwe                                11
Name: someEducation, Length: 180, dtype: int64

In [53]:
# get the number of Secondary education level by country particimpernt 
secondary_level_per_country = country_gp['EdLevel'].apply(lambda x: x.str.contains('Secondary').sum())
secondary_level_per_country.rename('secondary', inplace=True)
secondary_level_per_country.name
secondary_level_per_country

Country
Afghanistan                              6
Albania                                  6
Algeria                                  2
Andorra                                  3
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    13
Viet Nam                                38
Yemen                                    0
Zambia                                   2
Zimbabwe                                 5
Name: secondary, Length: 180, dtype: int64

In [54]:
# create a new data fame from both of them
df_education = pd.concat([particpents_per_country, bacholor_level_per_country, primary_level_per_country, master_level_per_country, some_level_per_country,secondary_level_per_country], axis='columns')
df_education.head(50)
# df_education.loc['Afghanistan']

,Country,bacholor,primary,master,someEducation,secondary
United States of America,13543,6636,377,2388,1758,990
India,6639,4121,158,1129,334,704
Germany,5395,1432,69,1577,656,1070
United Kingdom of Great Britain and Northern Ireland,4190,1773,51,897,635,405
Canada,2490,1120,93,366,378,182
France,2328,419,16,1363,115,107
Brazil,2109,937,38,298,377,210
Poland,1732,482,63,577,257,248
Netherlands,1555,647,26,367,199,150
Spain,1521,460,17,393,223,89
Italy,1514,357,11,334,278,373
Australia,1462,685,50,210,202,178
Russian Federation,1229,320,49,322,219,150
Turkey,1020,573,21,139,85,96
Sweden,1020,296,36,294,191,106
Switzerland,932,271,17,245,73,141
Austria,833,205,18,244,122,150
Israel,795,321,50,89,148,128
"Iran, Islamic Republic of...",723,336,18,180,68,50
Pakistan,711,486,6,99,51,41
Czech Republic,692,142,54,202,104,159
China,632,279,27,122,84,60
Belgium,626,263,18,190,51,56
Bangladesh,613,368,19,50,83,64
Ukraine,593,165,16,252,75,44
Romania,581,258,17,145,72,63
Mexico,574,279,4,79,119,29
Portugal,563,186,2,197,70,57
Greece,548,190,2,199,53,49
Denmark,547,170,24,167,42,46
Indonesia,537,256,30,25,58,115
Argentina,521,108,9,48,209,74
Nigeria,517,251,6,25,85,123
South Africa,493,210,9,56,112,67
Norway,479,159,13,178,49,50
Finland,468,157,18,151,57,47
Hungary,466,146,16,119,93,59
New Zealand,440,236,10,63,53,39
Egypt,400,258,18,17,34,54
Philippines,366,228,18,13,42,52
Bulgaria,364,121,13,91,63,56
Colombia,341,125,2,33,69,29
Japan,333,158,3,93,22,22
Ireland,332,163,7,76,38,27
Viet Nam,317,153,15,16,65,38
Sri Lanka,296,163,11,28,46,38
Slovenia,286,108,11,57,56,36
Serbia,282,102,8,80,41,36
Kenya,270,157,2,12,60,27
Taiwan,233,103,3,70,14,26

yes yes it worked! now what I think I can do is use the describe function.

In [56]:
df_education.rename(columns={'Country': 'numParticipents'})

,numParticipents,bacholor,primary,master,someEducation,secondary
United States of America,13543,6636,377,2388,1758,990
India,6639,4121,158,1129,334,704
Germany,5395,1432,69,1577,656,1070
United Kingdom of Great Britain and Northern Ireland,4190,1773,51,897,635,405
Canada,2490,1120,93,366,378,182
...,...,...,...,...,...,...
Monaco,1,1,0,0,0,0
Djibouti,1,1,0,0,0,0
Seychelles,1,1,0,0,0,0
Solomon Islands,1,0,0,0,1,0
Saint Kitts and Nevis,1,0,0,1,0,0

In [57]:
df_education.describe()

,Country,bacholor,primary,master,someEducation,secondary
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,398.727778,168.200000,10.033333,86.033333,51.811111,43.911111
std,1268.685229,613.285204,32.749583,265.560878,157.792197,129.970615
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,12.000000,4.000000,0.000000,1.000000,1.750000,1.000000
50%,54.000000,24.500000,2.000000,6.500000,8.500000,5.000000
75%,301.250000,128.750000,8.250000,46.500000,41.250000,36.250000
max,13543.000000,6636.000000,377.000000,2388.000000,1758.000000,1070.000000

Yeah that didn't help, but the dataframe I built has all the info that I need let's look at saudi arabia to see the education level

In [59]:
df_education.loc['Saudi Arabia']

Country          116
bacholor          50
primary            9
master            20
someEducation      6
secondary         22
Name: Saudi Arabia, dtype: int64